<div class="container mb-5">
  <h1>
    Misra-Gries Demo
  </h1>

  <div class="row">
    <div class="col-12 mb-2">
      <div>
        font-size: {{fontSize}}px
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-sm btn-light" (click)="onSmallFont()">-</button>
          <button class="btn btn-sm btn-light" (click)="onLargeFont()">+</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Configuration</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="Categories">Categories ({{fruitsList.length}})</label>
              <input type="text" [(ngModel)]="fruits" name="Categories" class="form-control" id="Categories"
                placeholder="Categories">
            </div>

            <div [ngStyle]="{'font-size': fontSize + 'px'}">
              <span class="fruit" *ngFor="let fruit of fruitsList">
                {{fruit}}
              </span>
            </div>

            <div class="form-group">
              <label for="Size">Sample Size ({{sampleSize}})</label>
              <input type="number" [(ngModel)]="sampleSize" name="Size" class="form-control" id="Size" placeholder="Size">
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Data Stream - Example</h5>
        <div class="card-body">
          <form>
            <button class="btn btn-primary" (click)="onGenerateSample()">Generate</button>
          </form>

          <hr>

          <div>Samples ({{sample.length}}):</div>
          <div [ngStyle]="{'font-size': fontSize + 'px'}">
            <div *ngFor="let s of sample" class="d-inline-block">
              <div *ngIf="currentIndex != s.index">
                {{s.label}}

                <div style="font-size: 16px; text-align: center;">{{s.index}}</div>
              </div>
              <div *ngIf="currentIndex == s.index">
                <div style="background-color: lightblue;">
                  {{s.label}}
                </div>
                <div style="background-color: blue; color: white;">
                  <div style="font-size: 16px; text-align: center; font-weight: bold;">{{s.index}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Misra-Gries Sketches</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="k"><strong>k</strong> ({{k}})</label>
              <input type="number" [(ngModel)]="k" name="k" class="form-control" id="k" placeholder="k size">
              <small class="form-text text-muted">The Misra-Gries counters size.</small>
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Operation</h5>
        <div class="card-body">
          <form>
            <div class="form-row">
              <button class="btn btn-primary" (click)="onNextStep()" [disabled]="!this.sample || this.sample.length <= 0">Next</button>
              <div *ngIf="!isAutoNext">
                <button class="btn btn-success ml-2" (click)="onStartPause()" [disabled]="!this.sample || this.sample.length <= 0">
                  Auto
                </button>
              </div>
              <div *ngIf="isAutoNext">
                <button class="btn btn-secondary ml-2" (click)="onStartPause()" [disabled]="!this.sample || this.sample.length <= 0">
                  Stop
                </button>
              </div>
              <input type="number" [(ngModel)]="autoNextOffsetSeconds" name="autoNextOffsetSeconds" class="form-control col-md-2 ml-2"
                placeholder="seconds">
            </div>
            <div class="text-center" *ngIf="sample && sample.length > 0">
              <div class="d-inline-block" *ngIf="currentIndex > 0">
                <div class="big-fruit current">
                  {{(sample[currentIndex-1]).label}}
                </div>
                <div class="text-muted">
                  Current index: <strong>{{currentIndex}}</strong>
                </div>
              </div>
              <div class="d-inline-block ml-3" *ngIf="sample.length > currentIndex">
                <div class="big-fruit next">
                  {{(sample[currentIndex]).label}}
                </div>
                <div class="text-muted">
                  Next index: <strong>{{currentIndex + 1}}</strong>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Set</h5>
        <div class="card-body">
          <div>
            k: <strong>{{sketch.k}}</strong>
          </div>
          <div>
            Counters' size: <strong>{{sketch.counters.length}}</strong>
          </div>
          <!-- <pre>{{sketch.counters | json}}</pre> -->

          <div [ngStyle]="{'font-size': fontSize + 'px'}">
            <div *ngFor="let c of sketch.counters" class="d-inline-block">
              <div>{{c.label}}</div>
              <div style="font-size: 16px; text-align: center; font-weight: bold;">{{c.count}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Comparison - exactly counts</h5>
        <div class="card-body">
          <div [ngStyle]="{'font-size': fontSize + 'px'}">
            <div *ngFor="let c of realCounting" class="d-inline-block">
              <div>{{c.key}}</div>
              <div style="font-size: 16px; text-align: center; font-weight: bold;">{{c.value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
