<div class="container mb-5">
  <h1>
    Misra-Gries Demo
  </h1>

  <div class="row">
    <div class="col-12 mb-2">
      <div>
        font-size: {{fontSize}}px
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-sm btn-light" (click)="onSmallFont()">-</button>
          <button class="btn btn-sm btn-light" (click)="onLargeFont()">+</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Configuration</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="fruits">Category Source ({{fruitsList.length}})</label>
              <textarea class="form-control" [(ngModel)]="fruits" name="fruits" id="fruits" rows="2"></textarea>
            </div>

            <div class="form-group">
              <label for="categorySize">Category Size ({{categorySize}})</label>
              <input type="range" class="custom-range" id="categorySize" [(ngModel)]="categorySize" name="categorySize"
                min="1" [max]="fruitsList.length">
            </div>

            <div [ngStyle]="{'font-size': fontSize + 'px'}" class="bg-light rounded p-2">
              <span class="fruit" *ngFor="let fruit of categoryList">{{fruit}}</span>
            </div>

            <div class="form-group">
              <label for="Size">Sample Size ({{sampleSize}})</label>
              <input type="range" class="custom-range" [(ngModel)]="sampleSize" id="sampleSize" name="sampleSize" min="1"
                max="2000">
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Data Stream - Example</h5>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-auto">
                <button class="btn btn-primary" (click)="onGenerateSample()">Generate</button>
              </div>
              <div class="col-auto">
                <select class="custom-select" [(ngModel)]="sampleTypeOption" name="sampleType">
                  <option [ngValue]="option" *ngFor="let option of sampleTypeOptions;">
                    {{option.label}}
                  </option>
                </select>
              </div>
            </div>
          </form>

          <hr>

          <div>Samples ({{sample.length}}):</div>
          <div [ngStyle]="{'font-size': fontSize + 'px'}">
            <div *ngFor="let s of sample" class="d-inline-block">
              <div *ngIf="currentIndex != s.index">
                {{s.label}}

                <div style="font-size: 16px; text-align: center;">{{s.index}}</div>
              </div>
              <div *ngIf="currentIndex == s.index">
                <div style="background-color: lightblue;">
                  {{s.label}}
                </div>
                <div style="background-color: blue; color: white;">
                  <div style="font-size: 16px; text-align: center; font-weight: bold;">{{s.index}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="card">
        <h5 class="card-header">Misra-Gries Sketches</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="k"><strong>k</strong> ({{k}})</label>
              <input type="range" class="custom-range" [(ngModel)]="k" id="k" name="k" min="1" [max]="fruitsList.length">
              <small class="form-text text-muted">The Misra-Gries counters size.</small>
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Operation</h5>
        <div class="card-body">
          <form>
            <!-- Controls -->
            <div class="row">
              <div class="col-auto pr-1">
                <button class="btn btn-block btn-primary" (click)="onNextStep()" [disabled]="!this.sample || this.sample.length <= 0">Next</button>
              </div>
              <div class="col-auto px-1">
                <button class="btn btn-block" [ngClass]="{'btn-success': !isAutoNext, 'btn-secondary': isAutoNext}"
                  (click)="onStartPause()" [disabled]="!this.sample || this.sample.length <= 0">
                  {{isAutoNext? 'Stop' : 'Auto'}}
                </button>
              </div>
              <div class="col-auto px-1">
                <select class="custom-select" [(ngModel)]="autoNextOffsetSeconds" name="speed">
                  <option value="500">Speed: Walking</option>
                  <option value="100">Speed: Running</option>
                  <option value="10">Speed: Biking</option>
                  <option value="1">Speed: Flying</option>
                </select>
              </div>
              <div class="col-auto px-1">
                <button class="btn btn-block btn-danger" (click)="onResetIndex()">Reset Index</button>
              </div>
            </div>

            <!-- Current and Next Item-->
            <div class="row mt-2 text-center" *ngIf="sample && sample.length > 0">
              <!-- Current -->
              <div class="col-md-6">
                <div *ngIf="currentIndex > 0" class="rounded">
                  <div class="step-title">
                    <span class="badge badge-pill badge-primary">Current</span>
                  </div>
                  <div class="rounded big-fruit current">
                    {{(sample[currentIndex-1]).label}}
                  </div>
                  <div class="text-muted ">
                    Index: <strong>{{currentIndex}}</strong>
                  </div>
                </div>
              </div>

              <!-- Next -->
              <div class="col-md-6">
                <div *ngIf="sample.length > currentIndex" class="rounded">
                  <div class="step-title">
                    <span class="badge badge-pill badge-success">Next</span>
                  </div>
                  <div class="rounded big-fruit next">
                    {{(sample[currentIndex]).label}}
                  </div>
                  <div class="text-muted">
                    Index: <strong>{{currentIndex + 1}}</strong>
                  </div>
                </div>
              </div>
            </div>

            <!-- Progress -->
            <div class="mt-2" *ngIf="sample && sample.length > 0">
              <div class="progress">
                <div class="progress-bar" style="transition: none;" role="progressbar" [ngStyle]="{'width': (100 * currentIndex / sample.length) + '%'}"></div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Set</h5>
        <div class="card-body">
          <div>
            k: <strong>{{sketch.k}}</strong>
          </div>
          <div>
            Counters' size: <strong>{{sketch.counters.length}}</strong>
          </div>
          <div>
            Decrement count: <strong>{{sketch.decrementCount}}</strong>
          </div>
          <!-- <pre>{{sketch.counters | json}}</pre> -->

          <div [ngStyle]="{'font-size': fontSize + 'px', 'min-height': (fontSize * 3) + 'px'}">
            <div *ngFor="let c of sketch.counters" class="d-inline-block">
              <div>{{c.label}}</div>
              <div style="font-size: 16px; text-align: center; font-weight: bold;">{{c.count}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <h5 class="card-header">Comparison - exactly counts</h5>
        <div class="card-body">
          <div [ngStyle]="{'font-size': fontSize + 'px'}">
            <div *ngFor="let c of realCounting" class="d-inline-block">
              <div>{{c.key}}</div>
              <div style="font-size: 16px; text-align: center; font-weight: bold;">{{c.value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
