input {
  // font-size: 2rem;
  width: 100%;
}

.content {
  width: 100%;
}

.container {
  max-width: 1600px;
}

.big-fruit {
  font-size: 64px;

  &.current {
    background-color: lightblue;
  }

  &.next {
    background-color: lightgreen;
  }
}

.step-title {
  font-size: 1.5rem;
}
