<div class="compsci-753">
  <!-- As a heading -->
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container">
      <span class="navbar-brand mb-0 h1">
        COMPSCI 753 Demo
      </span>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">compsci753.sjz.io</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/e10101/sketches">Source Code</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="my-3">
    <app-misra-gries></app-misra-gries>
  </div>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <p class="mb-1">
        &copy; 2018
        Created by <strong>Yishi Guo</strong>
      </p>
      <p class=mb-1>
        For <strong>COMPSCI 753 (2018 S2)</strong>
        of <strong>the University of Auckland</strong>
      </p>
    </div>
  </nav>
</div>
